<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vault">

    <application
        android:label="Secure Vault"
        android:theme="@android:style/Theme.Material.Light">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".VaultService"
            android:process=":secure_vault_process" 
            android:exported="false" />

    </application>
</manifest>